<div class="site-container">
  <app-page-header
    title="This Site"
    subHeader="What makes this site cool"
  ></app-page-header>
  <div class="info-container">
    <div class="section-text">
      <p class="mat-title accent-color">Dockerized + SSR</p>
      <p class="description mat-subheading-2">
        This site is built with webpack and deployed in a docker container where
        this application is running in a NginX web server that server side
        renders my angular app to users when requested.
      </p>
      <div class="show-code-buttons">
        <button
          class="show-code-button hover-1"
          mat-raised-button
          color="accent"
          (click)="
            openSite(
              'https://github.com/ChristianGracia/christiangracia.com4.0/blob/master/Dockerfile'
            )
          "
        >
          View Dockerfile
        </button>
        <button
          class="show-code-button hover-1"
          mat-raised-button
          color="accent"
          (click)="
            openSite('https://blog.angular-university.io/angular-universal/')
          "
        >
          Read more on SSR
        </button>
      </div>
      <div class="section-text">
        <p class="mat-title accent-color">Git CI Auto Deploy</p>
        <p class="description mat-subheading-2">
          Whenever I make a pull request or merge to the master branch, this
          application is built in a Docker container and deployed to my staging
          environment. When I push to my release branch, the application is
          built and deployed to production.
        </p>
        <div class="show-code-buttons">
          <button
            class="show-code-button hover-1"
            mat-raised-button
            color="accent"
            (click)="
              openSite(
                'https://github.com/ChristianGracia/christiangracia.com4.0/actions'
              )
            "
          >
            View Git CI Deploys
          </button>
        </div>
        <div class="section-text">
          <p class="mat-title accent-color">
            Responsive Global Fonts + Theming
          </p>
          <p class="description mat-subheading-2">
            This site has no font-size declarations in the entire application
            besides my screen responsive font types in my custom Angular
            Material theme.<br /><br />
            I made these font types shrink or grow depending on screen size
            while most sites use media queries which causes font-sizes to not
            shrink or grow but noticeably gap up or down when break points are
            reached.<br /><br />This site fully uses Material theming to provide
            a uniform look, use less code, and seamless Light/Dark mode.
          </p>
          <div class="site-image">
            <!-- <img
          alt='font code files'
            src="https://i.imgur.com/Mxuy7WH.png"
            
          />
          </div> -->
            <div class="show-code-buttons">
              <button
                class="show-code-button hover-1"
                mat-raised-button
                color="accent"
                (click)="
                  openSite(
                    'https://github.com/ChristianGracia/christiangracia.com4.0/blob/master/src/custom-theme.scss'
                  )
                "
              >
                View my Material theme
              </button>
            </div>
          </div>
          <div class="section-text">
            <p class="mat-title accent-color">Lazy Loaded Modules</p>
            <p class="description mat-subheading-2">
              Each page of this website is lazy loaded as a single module when
              it is requested. So when you access the home page, you haven't
              loaded the About or Project page yet but you reached the home page
              faster then you would have if you loaded all the modules.
            </p>
            <!-- <img
            src="https://i.imgur.com/Mxuy7WH.png"
            class="site-image"
          /> -->
          </div>
          <div class="section-text">
            <p class="mat-title accent-color">Spotify API Integrated</p>
            <p class="description mat-subheading-2">
              This website receives my Spotify listening data through my API
              server. Every 24 hours this server logs into Spotify with a Google
              Chrome bot to get an authorizaion code which is used to get an
              access token.<br /><br />This access token is then refreshed every
              55 minutes throughout the day to provide the Spotify data shown on
              my website. Below, received from my API back-end, is my class file
              Spotify.ts which contains all this logic.
            </p>
            <div class="show-code-buttons">
              <button
                class="show-code-button hover-1"
                mat-raised-button
                color="accent"
                (click)="
                  openSite(
                    'https://github.com/ChristianGracia/christiangracia-API/blob/master/src/classes/spotify.ts'
                  )
                "
              >
                View code on GitHub
              </button>

              <button
                class="show-code-button hover-1"
                mat-raised-button
                color="accent"
                (click)="
                  openSite(
                    'https://christiangracia-api.herokuapp.com/util/show-file?file=spotify.ts&cssFile=code-snippet.css'
                  )
                "
              >
                View code on my API
              </button>
            </div>

            <div
              class="file-name-text"
              align="center"
              (click)="
                openSite(
                  'https://christiangracia-api.herokuapp.com/util/show-file?file=spotify.ts&cssFile=code-snippet.css'
                )
              "
            >
              christiangracia-API/src/classes/spotify.ts
            </div>
            <div class="code-scroll-container">
              <div [innerHTML]="code" class="code-container"></div>
            </div>

            <!-- <img
          class="site-image"
          src="https://i.imgur.com/SZgPAW3.png"
        /> -->
          </div>
          <div class="section-text">
            <p class="mat-title accent-color">Web Analytics</p>
            <p class="description mat-subheading-2">
              When someone visits my website, a request is made to my API that
              emails me collected user data.
            </p>
            <div class="show-code-buttons">
              <button
                class="show-code-button hover-1"
                mat-raised-button
                color="accent"
                (click)="openSite('https://json.geoiplookup.io/')"
              >
                View your data
              </button>
            </div>
            <!-- <img
        class="site-image"
        src="https://i.imgur.com/v2R2zOL.png"
      /> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
