@import "../../../../../../styles.scss";
.site-card {
  height: 500px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  .carousel-container {
  }
}
.carousel-slide {
}
.botton-text-container {
}
