@import "../../../../../styles.scss";

.modal-container {
  .repo-container {
    .repo-name {
      margin-top: 20px;
      font-size: 22px;
      font-weight: bold;
      color: #f7d000;
    }
  }
  .social-link {
    color: black;
    margin-top: 6px;
    height: 20px;
  }
  .repo-update-text {
    font-weight: bold;
    margin-top: 40px;
    font-size: 20px;
  }
  .close-button-container {
    .close-button-text {
      font-size: 24px;
    }
  }
  .table-container {
    width: 100%;
    overflow-x: auto;
    td {
      padding: 5px;
    }
    .time {
      width: 30px;
    }

    table {
      padding: 10px 0px;
      width: 100%;
    }
    .mat-row:hover {
      background-color: black;
      td {
        color: white;
      }
    }
  }
  .click-commit-text {
    margin-bottom: 20px;
    font-size: 11px;
    font-weight: bold;
  }
  .loader {
    width: 100%;
    height: 100vh;
  }
}
