.social-media-container {
  .social-link {
    cursor: pointer;
    margin: 5px;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.5);
    }
  }
  .active {
    transform: scale(1.3);
  }
}
