.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .dark-mode-switch {
    display: flex;
    align-items: center;
  }
  .nav-items {
    display: flex;
    flex-direction: row;
    .nav-item {
      text-transform: capitalize;
    }
  }
  @media only screen and (max-width: 654px) {
    .hide-mobile {
      display: none;
    }
  }

  @media only screen and (min-width: 655px) {
    .hide-desktop {
      display: none;
    }
  }
}
