<mat-toolbar class="nav-container flex align-center">
  <div class="dark-mode-switch flex align-center">
    <button
      class="hide-mobile cg-site-text hover-1"
      mat-button
      [ngClass]="currentUrl === '' ? 'accent-color' : ''"
      aria-label="Home button with menu icon"
      (click)="goToLink('/')"
    >
      christiangracia.com
    </button>
    <div class="flex flex-row justify-center align-center">
      <div>
        <mat-icon
          [color]="!isDarkTheme ? 'accent' : ''"
          svgIcon="assets:light_mode"
        ></mat-icon>
      </div>
      <mat-slide-toggle [checked]="isDarkTheme" (change)="toggleTheme($event)">
      </mat-slide-toggle>
      <div>
        <mat-icon
          [color]="isDarkTheme ? 'accent' : ''"
          svgIcon="assets:dark_mode"
        ></mat-icon>
      </div>
    </div>
  </div>
  <app-social-media-links></app-social-media-links>
  <div class="flex flex-row nav-items hide-mobile">
    <button
      aria-label="Nav item"
      class="nav-item nav-item-text hover-1"
      *ngFor="let link of links"
      mat-button
      (click)="goToLink(link)"
      [ngClass]="
        currentUrl === link || (currentUrl === '' && link === 'home')
          ? 'accent-color'
          : ''
      "
    >
      {{ link }}
    </button>
  </div>
  <div class="hide-desktop">
    <button
      mat-icon-button
      color="accent"
      aria-label="Home button with menu icon"
      (click)="onToggleSidenav()"
    >
      <mat-icon svgIcon="assets:menu">menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
