<mat-toolbar class="nav-container flex align-center">
  <div class="dark-mode-switch flex justify-center">
    <button
      class="hide-mobile cg-site-text hover-1"
      mat-button
      [ngClass]="currentUrl === '' ? 'accent-color' : ''"
      aria-label="Home button with menu icon"
      (click)="goToLink('/')"
    >
      christiangracia.com
    </button>
    <mat-icon [color]="!isDarkTheme ? 'accent' : ''">light_mode</mat-icon>
    <mat-slide-toggle [checked]="isDarkTheme" (change)="toggleTheme($event)">
    </mat-slide-toggle>
    <mat-icon [color]="isDarkTheme ? 'accent' : ''">dark_mode</mat-icon>
  </div>
  <app-social-media-links></app-social-media-links>
  <div class="nav-items hide-mobile">
    <button
      aria-label="Nav item"
      class="nav-item nav-item-text hover-1"
      *ngFor="let link of links"
      mat-button
      (click)="goToLink(link)"
      [ngClass]="
        currentUrl === link || (currentUrl === '' && link === 'home')
          ? 'accent-color'
          : ''
      "
    >
      {{ link }}
    </button>
  </div>
  <div class="hide-desktop">
    <button
      mat-icon-button
      color="accent"
      aria-label="Home button with menu icon"
      (click)="onToggleSidenav()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
