.cg-site-text {
  margin-right: 5px;
}

.nav-item {
  text-transform: capitalize;
}

@media only screen and (max-width: 654px) {
  .hide-mobile {
    display: none;
  }
}

@media only screen and (min-width: 655px) {
  .hide-desktop {
    display: none;
  }
}

.social-media-container {
  .social-link {
    cursor: pointer;
    margin: 5px;
    transition: all 0.2s ease-in-out;
    &:hover {
      transform: scale(1.5);
    }
  }
  .active {
    transform: scale(1.3);
  }
}
