<div class="close-button flex">
  <button
    class=""
    mat-button
    aria-label="Close view more"
    (click)="job.viewMoreOpen = false"
  >
    <mat-icon svgIcon="assets:close"></mat-icon>
  </button>
</div>
<mat-card class="flex justify-center mat-elevation-z6 m-20">
  <mat-card-content class="card-text-container">
    <div
      *ngFor="let app of job.applications"
      class="flex flex-col justify-center align-center app-container"
    >
      <div>{{ app.name }}</div>
      <div class="mat-display-2">Coming Soon</div>
      <!-- <div *ngIf="app.description">{{ app.description }}</div> -->
      <!-- <div class="flex flex-row justify-center">
        <p
          class="language-text"
          *ngFor="let language of app.languages; let i = index"
        >
          {{ app.languages[i] }}
        </p>
      </div> -->
    </div></mat-card-content
  >
</mat-card>
