.card-text-container {
  text-align: center;
  .close-button {
    justify-content: right;
  }
  .app-container {
    gap: 15px;
    margin-bottom: 45px;
    .graph {
      width: 90%;
      min-width: 280px;
      max-width: 400px;
      height: 2px;
    }
  }
}
