<mat-toolbar class="nav-container">
  <div class="dark-mode-switch">
    <mat-icon>dark_mode</mat-icon>
    <mat-slide-toggle
      [checked]="isLightTheme"
      (change)="toggleTheme($event)"
    ></mat-slide-toggle>
    <mat-icon>light_mode</mat-icon>
  </div>
  <!-- <div>
    <a
      mat-button
      color="accent"
      aria-label="Home button with menu icon"
      href="/"
    >
      christiangracia.com
    </a>
  </div> -->
  <div class="nav-items hide-mobile">
    <a
      class="nav-item"
      *ngFor="let link of links"
      mat-button
      color="accent"
      href="{{ link }}"
      >{{ link }}</a
    >
  </div>
  <div class="hide-desktop">
    <button
      mat-icon-button
      color="accent"
      aria-label="Home button with menu icon"
      (click)="onToggleSidenav()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
