<div class="side-project-container">
  <app-page-header
    title="Current Projects"
    subHeader="Click projects below to view more"
  ></app-page-header>
  <div class="site-container">
    <mat-card
      *ngFor="let site of sites"
      class="site-card mat-elevation-z6"
      (click)="openLink(site.url ?? '')"
    >
      <div class="top-row">
        <mat-card-title class="mat-title accent-color">
          {{ site.title }}
        </mat-card-title>
        <mat-card-content class="mat-subheading-2 site-description">{{
          site.bottomText
        }}</mat-card-content>
      </div>
    </mat-card>
  </div>
</div>
