.site-navigation-header {
  margin: 5px;
  padding: 10px;
  .site-navigation-text {
    cursor: pointer;
  }
}
.line {
  margin: 10px;
  height: 2px;
}
.link-row {
  .nav-caption {
    margin-top: 5px;
    margin-left: 5px;
    text-transform: capitalize;
  }
}
