<div class="site-container">
  <app-page-header
    title="This Site"
    subHeader="What makes this site cool"
  ></app-page-header>
  <div class="info-container">
    <div class="font-text">
      <p class="mat-display-2 accent-color">Responsive Global Fonts</p>
      <p class="mat-subheading-1">
        This site has no font-size declarations in the entire application
        besides pre-defined font sizes in my custom Angular Material theme. I
        made these fonts shrink or grow depending on screen size while most
        sites I see use media queries which causes font-sizes to not shrink or
        grow but a noticeable gap up or down when a certain screen size is
        reached.
      </p>
      <img
        src="https://i.imgur.com/Mxuy7WH.png"
        class="site-image"
        width="300px"
        height="300px"
      />
    </div>
    <div class="spotify-text">
      <p class="mat-display-2 accent-color">Spotify API Integrated</p>
      <p>
        This website receives my Spotify listening data through my API server.
        Every 24 hours this server logs into Spotify with a Google Chrome bot to
        get an authorizaion code which is used to get an access token. This
        access token is then refreshed every 55 minutes throughout the day to
        provide the Spotify data shown on my website. The back-end code I wrote
        can be seen
        <button
          mat-button
          color="accent"
          (click)="
            openSite(
              'https://github.com/ChristianGracia/christiangracia-API/blob/master/src/classes/spotify.ts'
            )
          "
        >
          Here
        </button>
      </p>
      <img
        class="site-image"
        src="https://i.imgur.com/SZgPAW3.png"
        width="300px"
        height="300px"
      />
    </div>
    <div class="analytic-text">
      <p class="mat-display-2 accent-color">Web Analytics</p>
      <p>
        When someone visits my website, a request is made to my API that emails
        collected user data.
      </p>
      <img
        class="site-image"
        src="https://i.imgur.com/v2R2zOL.png"
        width="300px"
        height="200px"
      />
    </div>
    <div class="Theming-text">
      <p class="mat-display-2 accent-color">Full Material Theming</p>
      <p>
        This site fully used Material theming to provide a uniform look and use
        less code. Light/Dark mode
      </p>
    </div>
  </div>
</div>
