.nav-caption {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 4px;
  font-size: 20px;
  text-transform: capitalize;
}

.site-navigation-header {
  margin: 5px;
  padding: 10px;
  .site-navigation-text {
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
  }
}
