<mat-nav-list class="side-nav-bar">
  <div class="site-navigation-header">
    <span class="site-navigation-text">Navigation</span>
  </div>
  <a mat-list-item href="/">
    <span class="nav-caption" (click)="onClose()">Home</span>
  </a>
  <a mat-list-item href="/about">
    <span class="nav-caption" (click)="onClose()">About</span>
  </a>
  <a mat-list-item href="/projects">
    <span class="nav-caption" (click)="onClose()">Projects</span>
  </a>
  <a mat-list-item href="/contact">
    <span class="nav-caption" (click)="onClose()">Contact</span>
  </a>
</mat-nav-list>
