<mat-sidenav-container
  [class.light-theme]="!isDarkTheme"
  [class.dark-theme]="isDarkTheme"
>
  <mat-sidenav #sidenav role="navigation">
    <app-side-bar (closeSidenavEvent)="sidenav.close()"></app-side-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="main-container">
      <app-header
        class="header"
        [isDarkTheme]="isDarkTheme"
        (sidenavToggle)="sidenav.toggle()"
        (changeTheme)="changeTheme($event)"
      ></app-header>
      <main class="mat-app-background main-content">
        <router-outlet></router-outlet>
      </main>
      <app-footer class="footer"></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
