mat-sidenav-container,
mat-sidenav-content,
mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 200px;
}

.main-container {
  height: 100%;
  display: grid;
  grid-template-rows: fit-content(8rem) auto fit-content(8rem);
  grid-template-areas: "header" "main" "footer";
}

.header {
  grid-area: header;
  // position: fixed;
  // left: 0;
  // right: 0;
  // top: 0;
}

.main-content {
  grid-area: main;
  // z-index: -10;
  // padding-top: 65px;
}

.footer {
  grid-area: footer;
}
