.github-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  .repo-card {
    width: 100%;
    max-width: 99vw;
    @media (min-width: 500px) {
      max-width: 320px;
    }
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 15px;
    @media (min-width: 500px) {
      margin: 15px;
    }
    &:hover {
      transform: scale(1.04);
      .repo-title {
      }
    }
    .repo-title {
      font-weight: bold;
      text-align: center;
      margin: 6px 0 auto;
      &:hover {
        transform: scale(1.07);
      }
    }
    .repo-language-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      .repo-language-text {
        font-weight: bold;
      }
    }
    .repo-description-container {
      margin: 20px 0;
      .repo-description {
        line-height: 28px;
      }
    }
    .repo-date-container {
      margin: 12px 0;
      .repo-date-text {
        font-style: italic;
      }
    }
  }
}
// .paginator-container {
//   display: flex;
//   justify-content: center;
//   margin-top: 20px;
// }
// .api-description-container {
//   text-align: center;
//   margin-top: 12px;
//   .api-description-text {
//     font-style: italic;
//   }
//   .api-description-url {
//     margin-top: 15px;
//     font-style: normal;
//     font-weight: bold;
//   }
// }

.repo-loader-container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.dark-theme .mat-paginator {
  background-color: transparent !important;
}

::ng-deep .mat-paginator-page-size-select {
  background-color: transparent !important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent !important;
}

::ng-deep .mat-select-value {
  color: #005999;
}
::ng-deep .mat-select-arrow {
  color: #005999;
}
