<app-page-header
  title="Github Repos"
  subHeader="Click repository below to view code changes"
></app-page-header>
<div *ngIf="loadingRepos" class="repo-loader-container">
  <mat-spinner color="accent"></mat-spinner>
</div>

<div class="github-container clickable" *ngIf="!loadingRepos">
  <mat-card
    *ngFor="let repo of data"
    class="repo-card mat-elevation-z6"
    (click)="openRepoCommitModal(repo.name, repo.url)"
  >
    <div class="top-row">
      <mat-card-title class="repo-title mat-title accent-color">
        {{ repo.name.split("-").join(" ") }}
      </mat-card-title>

      <mat-card-content class="repo-description-container mat-subheading-2">
        <span class="repo-description mat-subheading-2">
          {{ repo.description }}
        </span>
      </mat-card-content>
    </div>

    <div class="bottom-row">
      <div class="repo-language-container">
        <span class="repo-language-text mat-caption"> Language: </span>
        <span
          class="repo-language-text"
          [ngStyle]="{ color: formatRepoLanguage(repo.language) }"
          >{{ repo.language }}</span
        >
      </div>
      <div class="repo-date-container">
        <span class="repo-date-text mat-caption">
          Last updated at {{ formatUpdateAtDate(repo.updatedAt) }}</span
        >
      </div>
    </div>
  </mat-card>
</div>
<!-- <div class="paginator-container" *ngIf="!loadingRepos">
  <mat-paginator
    [length]="gitRepos.length"
    [pageSize]="size"
    [pageIndex]="page"
    (page)="getData($event)"
  >
  </mat-paginator>
</div> -->
<!-- <div class="api-description-container" *ngIf="data.length">
  <div class="api-description-text">
    This data was server side rendered from my API
    <a
      class="api-description-url"
      href="https://christiangracia-api.herokuapp.com/github/all-repos"
      target="_blank"
      rel="noreferrer"
      >Here</a
    >
  </div>
</div> -->
