<app-page-header title="Skills"></app-page-header>
<div class="skills-container">
  <mat-card class="skill-card mat-elevation-z6">
    <mat-card-title class="accent-color mat-title"> Languages </mat-card-title>
    <mat-card-content class="card-content mat-subheading-1">
      {{ languagesArray.join(", ") }}</mat-card-content
    >
  </mat-card>
  <mat-card class="skill-card mat-elevation-z6">
    <mat-card-title class="accent-color"> Front-end </mat-card-title>
    <mat-card-content class="card-content mat-subheading-1"
      >{{ frontEndArray.join(", ") }}
    </mat-card-content>
  </mat-card>
  <mat-card class="skill-card mat-elevation-z6">
    <mat-card-title class="accent-color"> Back-end </mat-card-title>
    <mat-card-content class="card-content mat-subheading-1">
      {{ backEndArray.join(", ") }}</mat-card-content
    >
  </mat-card>
</div>
