<div class="skills-container">
  <app-page-header title="Skills"></app-page-header>
  <div fxLayout="row wrap" fxLayoutAlign="space-around">
    <mat-card class="skill-card mat-elevation-z6">
      <mat-card-title class="skill-header"> Languages </mat-card-title>
      <mat-card-content class="card-content">
        {{ languagesArray.join(", ") }}</mat-card-content
      >
    </mat-card>
    <mat-card class="skill-card mat-elevation-z6">
      <mat-card-title class="skill-header"> Front-end </mat-card-title>
      <mat-card-content class="card-content"
        >{{ frontEndArray.join(", ") }}
      </mat-card-content>
    </mat-card>
    <mat-card class="skill-card mat-elevation-z6">
      <mat-card-title class="skill-header"> Back-end </mat-card-title>
      <mat-card-content class="card-content">
        {{ backEndArray.join(", ") }}</mat-card-content
      >
    </mat-card>
  </div>
</div>
