<div class="home-container">
  <div class="info-container">
    <span class="mat-display-4 name">Christian Gracia</span>

    <div class="graph animated-line"></div>

    <span class="mat-display-2 description"
      >I'm a software engineer who likes to build full stack web and mobile apps
      with React, NodeJs, Angular, Java, Python, C#, React Native, Swift, and
      more.</span
    >
    <div class="song-container">
      <app-current-song></app-current-song>
    </div>
  </div>
  <div class="learn-more-container hover-1">
    <!-- <a (click)="goToAboutPage()" mat-raised-button color="accent">
      Learn More
    </a> -->
    <button
      (click)="goToAboutPage()"
      class="show-code-button hover-1"
      mat-raised-button
      color="accent"
    >
      Learn More
    </button>
  </div>
</div>
