<div class="container">
  <div class="icon-container">
    <div>
      <mat-icon inline class="icon" color="accent">
        local_fire_department
      </mat-icon>
    </div>
  </div>

  <div class="info-container">
    <span class="mat-display-4 name">Christian Gracia</span>
    <div class="line background-accent-color"></div>
    <span class="mat-display-2 description"
      >I'm a software engineer who likes to build full stack web and mobile
      applications with React, NodeJs, Angular, Java, Python, C#, React Native,
      Swift, and more.</span
    >
  </div>
  <div class="learn-more-container">
    <button (click)="goToAboutPage()" mat-raised-button color="accent">
      Learn more
    </button>
  </div>
  <div class="other-sites-container">
    <div class="mat-title">Other sites I'm working on</div>
    <div class="sites-row">
      <a
        mat-button
        color="accent"
        aria-label="Home button with menu icon"
        href="https://www.marketfeels.com"
      >
        marketfeels.com
      </a>

      <a
        mat-button
        color="accent"
        aria-label="Home button with menu icon"
        href="https://www.nflandscaping.com"
      >
        nflandscaping.com
      </a>
    </div>
  </div>
</div>
