@import "../../../styles.scss";
.container {
  position: relative;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1px;
  .icon-container {
    margin-top: 25px;
    .icon {
      font-size: calc(40px + 20 * ((100vw - 320px) / 680));
    }
  }
  // .other-sites-container {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: center;
  //   .sites-row {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: center;
  //     flex-wrap: wrap;
  //   }
  // }

  .learn-more-container {
    margin: 6px 0 20px 0;
  }
  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    .line {
      margin: 10px;
      height: 2px;
      max-width: calc(500px + 110 * ((100vw - 320px) / 680));
    }
    .name {
      margin: 5px;
    }
    .description {
      margin: 10px;
      max-width: 92vw;
    }
  }
}
