@import "../../../styles.scss";
.container {
  position: relative;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .icon-container {
    .icon {
      font-size: 80px;
    }
  }
  .name-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px;
    .line {
      height: 2px;
    }
    .description {
      max-width: 85vw;
    }
  }
}
