<div class="home-container">
  <!-- <div class="icon-container">
    <div>
      <mat-icon inline class="icon" color="accent">
        local_fire_department
      </mat-icon>
    </div>
  </div> -->

  <div class="info-container">
    <span class="mat-display-4 name">Christian Gracia</span>
    <div class="line background-accent-color"></div>
    <span class="mat-display-2 description"
      >I'm a software engineer who likes to build full stack web and mobile
      applications with React, NodeJs, Angular, Java, Python, C#, React Native,
      Swift, and more.</span
    >
    <div class="song-container">
      <app-current-song></app-current-song>
    </div>
  </div>
  <!-- <div class="song-container">
    <app-current-song></app-current-song>
  </div> -->
  <div class="learn-more-container">
    <a (click)="goToAboutPage()" mat-raised-button color="accent">
      Learn More
    </a>
  </div>

  <span class="description" style="font-weight: bold margin-top: 20px;"
    >12/12/2021 - Site under construction</span
  >
  <!-- <div class="other-sites-container">
    <div class="mat-title">Sites I'm working on</div>
    <div class="sites-row">
      <a
        mat-button
        color="accent"
        aria-label="Link to a financial website I created"
        href="https://www.marketfeels.com"
        target="_blank"
      >
        marketfeels.com
      </a>

      <a
        mat-button
        color="accent"
        aria-label="Link to a landscaping website I created"
        href="https://www.nflandscaping.com"
        target="_blank"
      >
        nflandscaping.com
      </a>
    </div>
  </div> -->
</div>
