.home-container {
  position: absolute;
  top: 20vh;

  margin: 6vh 6vw;

  .description {
    line-height: normal;
  }
  .graph {
    height: 2px;
    margin: 8px 0;
    max-width: calc(500px + 110 * ((100vw - 320px) / 680));
  }
  .song-container {
    margin-top: 16px;
  }
}
.learn-more-container {
  position: absolute;
  width: 100%;
  bottom: 12vh;
}
