<div class="modal-container">
  <div class="flex flex-row header-container">
    <button
      (click)="openSite(data.url ?? '')"
      color="accent"
      mat-raised-button
      aria-label="view site"
      class="hover-1"
    >
      View Site
    </button>
    <button mat-button mat-dialog-close aria-label="Close modal window">
      <app-close-button></app-close-button>
    </button>
  </div>
  <div *ngIf="iframeLoading" class="flex justify-center loader">
    <mat-spinner color="accent"></mat-spinner>
  </div>
  <div [class.is-hidden]="iframeLoading" class="iframe-container">
    <iframe
      allowtransparency="true"
      style="background: #ffffff"
      id="site-iframe"
      [src]="data.url | safe"
      width="100%"
      height="100%"
    ></iframe>
  </div>
</div>
