@import "../../../../../styles.scss";

.modal-container {
  // width: 100%;
  // height: 100%;

  .free-server-container {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .close-button-container {
    margin-bottom: 15px;
    .close-button-text {
      font-size: 24px;
    }
  }
  .view-site-button-container {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
iframe {
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
.iframe-container {
  width: 100%;
  height: 100%;
}
.is-hidden {
  display: none;
}
