.job-history-container {
  width: 100%;
  .company-card {
    max-width: 700px;
    width: 94vw;
    padding: 20px;
    .company-name {
      font-size: 25px;
      color: #ff5722;
      font-style: italic;
      font-weight: bold;
    }
    .company-years {
      font-size: 14px;
      font-weight: bold;
    }
    .job-description {
      font-size: 16px;
    }
  }
}
