<div class="job-history-page-container">
  <app-page-header
    title="Experience"
    subHeader="Click company name to view website"
  ></app-page-header>
  <div class="job-history-container">
    <div *ngFor="let job of jobs" class="company-card">
      <div class="top-row">
        <div
          class="company-name accent-color mat-title"
          (click)="openSite(job.website ?? '')"
        >
          {{ job.company }}
        </div>
        <div class="company-years mat-caption">{{ job.range }}</div>
      </div>
      <div class="job-description mat-subheading-2">{{ job.description }}</div>

      <div class="view-more-container flex justify-center">
        <button
          *ngIf="!job.viewMoreOpen"
          class="c"
          mat-button
          aria-label="View more"
          (click)="viewMoreJob(job)"
        >
          View More
        </button>
      </div>

      <app-job *ngIf="job.viewMoreOpen ?? false" [job]="job"></app-job>
    </div>
  </div>
</div>
