.job-history-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .company-card {
    margin-bottom: 16px;
    .company-name {
      font-style: italic;
      font-weight: bold;
      cursor: pointer;
    }

    .company-years {
      font-weight: bold;
    }
    .job-description {
    }
  }
}
