<div *ngIf="loadingSong" class="flex flex-col justify-center align-center m-5">
  <div
    class="current-text accent-color flex flex-row align-center mat-subheading-1 loading loading-animation"
  >
    <span *ngFor="let char of loadingText">
      {{ char }}
    </span>
  </div>
  <mat-spinner diameter="22" color="accent"></mat-spinner>
</div>

<div
  *ngIf="allSongs.length > 0 && !loadingSong"
  class="flex flex-col justify-center song-container"
>
  <div
    class="calc-width song-row flex flex-row align-center flex-wrap justify-space-between"
  >
    <div class="flex flex-row align-center song-left-col">
      <img
        loading="lazy"
        height="36px"
        width="36px"
        [src]="imagePrefix + allSongs[songIndex].images[0]"
        alt="{{ allSongs[songIndex]?.artist }} album image"
      />
      <div class="flex flex-col justify-center song-info-container">
        <span class="accent-color mat-caption text-bold"
          >{{
            allSongs[songIndex].name.length > 25
              ? allSongs[songIndex].name.substring(0, 20) + "..."
              : allSongs[songIndex].name
          }}
        </span>
        <span class="mat-caption text-bold">{{
          allSongs[songIndex].artist
        }}</span>
      </div>
    </div>

    <div class="flex flex-row align-center clickable">
      <mat-icon
        style="transform: scaleX(-1)"
        (click)="skipSong('back')"
        color="accent"
        *ngIf="songIndex > 0"
        svgIcon="assets:fast_forward"
      ></mat-icon>
      <mat-icon
        (click)="playPreviewOfSong()"
        color="accent"
        *ngIf="allSongs[songIndex].previewUrl"
        svgIcon="assets:{{ !songPlaying ? 'play_circle' : 'pause_circle' }}"
      ></mat-icon>
      <mat-icon
        (click)="skipSong('forward')"
        color="accent"
        *ngIf="!loadingRecentlyPlayed"
        svgIcon="assets:fast_forward"
      ></mat-icon>
      <mat-spinner
        *ngIf="loadingRecentlyPlayed"
        diameter="22"
        color="accent"
      ></mat-spinner>
    </div>
  </div>
  <div class="flex flex-col calc-width">
    <mat-progress-bar
      aria-valuemin="00:00"
      aria-valuemax="00:30"
      color="accent"
      mode="determinate"
      value="{{ progress }}"
    ></mat-progress-bar>
    <div
      class="flex flex-row justify-space-between song-progress-bar-text-container mt-5"
    >
      <p>{{ allSongs[songIndex].progressString }}</p>
      <div class="flex flex-row align-center">
        <div class="text-bold">{{ songIndex + 1 }}/</div>
        <div *ngIf="!loadingRecentlyPlayed" class="text-bold">
          {{ allSongs.length }}
        </div>
        <mat-spinner
          *ngIf="loadingRecentlyPlayed"
          class="mat-caption"
          color="accent"
          diameter="12"
        ></mat-spinner>
      </div>
      <p>{{ allSongs[songIndex].durationString }}</p>
    </div>
  </div>
  <div class="current-text flex flex-row align-center mat-display-1">
    <app-lazy-animated-icon></app-lazy-animated-icon>
    <div class="mat-caption" *ngIf="allSongs[songIndex].playedAt">
      Last played at {{ allSongs[songIndex].playedAt }}
    </div>
    <ng-template
      class="loading loading-animation"
      ngFor
      let-arr
      [ngForOf]="currentText"
      *ngIf="!allSongs[songIndex].playedAt"
    >
      <div class="loading loading-animation" style="padding: 2px">
        <span *ngFor="let char of arr">
          {{ char }}
        </span>
      </div>
    </ng-template>
  </div>
</div>
