.song-loader {
  margin-top: 6px;
  align-items: center;
  .spinner {
    margin-top: 2px;
  }
}
.song-container {
  margin-top: 6px;

  .current-text {
    margin: 0 auto;
    @media only screen and (min-width: 500px) {
      margin-left: 0px;
    }
    .spotify-image {
      margin-right: 5px;
    }
  }
  .song-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: calc(500px + 110 * ((100vw - 320px) / 680));
    margin: 6px 0;
    align-items: center;
    .song-left-col {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
    .song-right-col {
      display: flex;
      flex-direction: row;
      align-items: center;
      .play-button {
        cursor: pointer;
      }
    }
    .song-info-container {
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .song-name {
        font-weight: bold;
      }
    }
  }
  .song-progress-bar-container {
    max-width: calc(500px + 110 * ((100vw - 320px) / 680));
    display: flex;
    flex-direction: column;
    .song-progress-bar {
    }
    .song-progress-bar-text-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .song-progress-bar-text {
        margin-top: 1px;
      }
    }
  }
}
.loading {
  text-align: center;
  span {
    display: inline-block;
    margin: 0 -0.05em;
  }
}

.loading-animation {
  span {
    margin: 0 -0.05em;
    animation: loading-animation 0.7s infinite alternate;
    @for $i from 1 through 6 {
      &:nth-child(#{$i + 1}) {
        animation-delay: #{$i * 0.1}s;
      }
    }
  }
}
@keyframes loading-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.8);
  }
}

.clickable {
  cursor: pointer;
}

.shockwave-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.shock {
  text-align: center;
  border: none;
  position: relative;
  outline: none;
  border-radius: 50%;
}

.shock--shockwave.is-active {
  -webkit-animation: shockwaveJump 1s ease-out infinite;
  animation: shockwaveJump 1s ease-out infinite;
}
.shock--shockwave.is-active:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  -webkit-animation: shockwave 1s 0.65s ease-out infinite;
  animation: shockwave 1s 0.65s ease-out infinite;
}
.shock--shockwave.is-active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 50%;
  -webkit-animation: shockwave 1s 0.5s ease-out infinite;
  animation: shockwave 1s 0.5s ease-out infinite;
}

@-webkit-keyframes shockwaveJump {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
  50% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  55% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
  60% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes shockwaveJump {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
  }
  50% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  55% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
  }
  60% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes shockwave {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.15);
  }
  95% {
    box-shadow: 0 0 50px transparent, inset 0 0 30px transparent;
  }
  100% {
    -webkit-transform: scale(2.25);
    transform: scale(2.25);
  }
}
@keyframes shockwave {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15), inset 0 0 1px rgba(0, 0, 0, 0.15);
  }
  95% {
    box-shadow: 0 0 50px transparent, inset 0 0 30px transparent;
  }
  100% {
    -webkit-transform: scale(2.25);
    transform: scale(2.25);
  }
}
