<div
  *ngIf="loadingSong"
  class="flex flex-col justify-center align-center song-loader"
>
  <div
    class="current-text accent-color flex flex-row align-center mat-subheading-1 loading loading-animation"
  >
    <span *ngFor="let char of loadingText">
      {{ char }}
    </span>
  </div>
  <mat-spinner class="spinner" diameter="22" color="accent"></mat-spinner>
</div>

<div
  *ngIf="song && !loadingSong"
  class="flex flex-col justify-center song-container"
>
  <div
    class="song-row flex flex-row align-center flex-wrap justify-space-between"
  >
    <div class="flex flex-row align-center song-left-col">
      <img
        loading="lazy"
        height="36px"
        width="36px"
        [src]="imagePrefix + song.images[0]"
        alt="{{ song.artist }} album image"
      />
      <div class="flex flex-col justify-center song-info-container">
        <span class="accent-color mat-caption song-name"
          >{{
            song.name.length > 25
              ? song.name.substring(0, 20) + "..."
              : song.name
          }}
        </span>
        <span class="mat-caption song-name">{{ song.artist }}</span>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="flex justify-right mat-caption">
        <span class="mat-caption">{{ songIndex + 1 }}/50</span>
      </div>
      <div class="flex flex-row align-center">
        <mat-icon
          class="clickable"
          style="transform: scaleX(-1)"
          (click)="skipSong('back')"
          color="accent"
          *ngIf="songIndex > 0"
          svgIcon="assets:fast_forward"
        ></mat-icon>
        <mat-icon
          class="clickable"
          (click)="playPreviewOfSong()"
          color="accent"
          *ngIf="song.previewUrl"
          svgIcon="assets:{{ !songPlaying ? 'play_circle' : 'pause_circle' }}"
        ></mat-icon>
        <mat-icon
          class="clickable"
          (click)="skipSong('forward')"
          color="accent"
          *ngIf="songIndex !== 1 || songIndex < recentSongs.length - 1"
          svgIcon="assets:fast_forward"
        ></mat-icon>
        <mat-spinner
          *ngIf="songIndex === 1 && recentSongs.length !== maxSongs"
          class="spinner"
          diameter="22"
          color="accent"
        ></mat-spinner>
      </div>
    </div>
  </div>
  <div class="flex flex-col song-progress-bar-container">
    <mat-progress-bar
      aria-valuemin="00:00"
      aria-valuemax="00:30"
      color="accent"
      class="song-progress-bar"
      mode="determinate"
      value="{{ (song.progress / song.duration) * 100 }}"
    ></mat-progress-bar>
    <div
      class="flex flex-row justify-space-between song-progress-bar-text-container"
    >
      <p class="song-progress-bar-text">{{ song.progressString }}</p>
      <p></p>
      <p class="song-progress-bar-text">{{ song.durationString }}</p>
    </div>
  </div>
  <div class="current-text flex flex-row align-center mat-display-1">
    <app-lazy-animated-icon></app-lazy-animated-icon>
    <div class="mat-caption" *ngIf="song.playedAt">
      Last played at {{ song.playedAt }}
    </div>
    <ng-template
      class="loading loading-animation"
      ngFor
      let-arr
      [ngForOf]="currentText"
      *ngIf="!song.playedAt"
    >
      <div class="loading loading-animation" style="padding: 2px">
        <span *ngFor="let char of arr">
          {{ char }}
        </span>
      </div>
    </ng-template>
  </div>
</div>
