a {
  text-decoration: none;
  color: #fff;

  &:hover {
    color: yellow;
  }
}
.nav-caption {
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 4px;
  font-size: 20px;
  color: white;
}
.nav-icon {
  color: white;
}
.side-nav-bar {
  background-color: #222222;
  height: 100%;
  // border: 1px solid dark-grey;
}
.site-navigation-header {
  margin: 5px;
  padding: 10px;
  border-bottom: 1px solid yellow;
  .site-navigation-text {
    color: white;
    font-size: 28px;
    font-weight: bold;
    margin-left: 10px;
  }
}
.active-link {
  color: yellow;
}
